<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/main_style.css' %}" />
</head>


<body>

<ul class="menu_bar">
  <li  class="menu_bar"><a class="active" href="{% url 'homepage:index' %}">Home</a></li>
  <li  class="menu_bar"><a href="http://a5810164.blogspot.com/">My Blog</a></li>
  <li  class="menu_bar"><a href="https://sarik_kumpan@bitbucket.org/sarik_kumpan/django-project.git">My Bitbucket</a></li>
  <li  class="menu_bar"><a href="https://github.com/poklonas/django_5810164">My GitHub</a></li>
</ul>

<div class="show_app">
    <center>
	<h1> All APP </h1>
    </center>
    <a class="app_list" href="{% url 'bmi:index' %}"> Polls </a><br>
    <a class="app_list" href="{% url 'accounting:index' %}"> Accounting </a>
</div>

</body>
