<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounting/theme1/main_style.css' %}" />
    <style>
        th.date{
            width: 5%
        }
        th.detail{
            width: 25%
        }
        th.type_for{
			width: 10%
		}
    </style>
</head>

<body>

<ul class="menu_bar">
    <li class="menu_bar"><a href="{% url 'accounting:book_detail' book_id %}">Back to Book menu</a></li>
</ul>

<div class="content">
  <h1> Please check you format , it should seem like this </h1>

   <p> Income Exam </p>
   <table>
    	<tr>
			<th class='date'>Year</th>
			<th class='date'>Month</th>
			<th class='date'>Day</th>
			<th class='detail'>Detail</th>
            <th class='detail'>Type</th>
            <th class='type_for'>Income</th>
            <th class='type_for'>Expenses</th>
		</tr>
        <tr>
            <td>2017</td>
            <td>2</td>
            <td>27</td>
            <td>ถอนเงินจากธนาคาร</</td>
            <td>ถอนเงิน</</td>
            <td>500</td>
            <td></td>
        </tr>
  </table>

   <p> Expenses Exam </p>
   <table>
    	<tr>
			<th class='date'>Year</th>
			<th class='date'>Month</th>
			<th class='date'>Day</th>
			<th class='detail'>Detail</th>
            <th class='detail'>Type</th>
            <th class='type_for'>Income</th>
            <th class='type_for'>Expenses</th>
		</tr>
        <tr>
            <td>2017</td>
            <td>2</td>
            <td>27</td>
            <td>ซื้อเลย์</td>
            <td>ขนม</td>
            <td></td>
            <td>50</td>
        </tr>
  </table>

  <form method="post" action="{% url 'accounting:func_upload_csv' book_id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
</div>
</body>
